/* Importing Google Fonts - Poppins */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
/* General Body Styling */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url('../images/1.jpg');
  background-position: center;
  background-size: cover;
}
/* Main Page Styling */
.main {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navbar {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
       padding: 0 100px;


}


.logo {
  color: #dc9feb;
        font-family: Arial;
            padding-left: 20px;
margin-left: 20px;
  padding-top: 10px;
  margin-top: 5px;
  font-size: 50px;
}


.navbar .menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
  align-items: center;
  float:left;
}

.navbar .menu ul li {
    margin-left: 230px;
    
}

.navbar .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    
}

.navbar .menu ul li a:hover {
    color: #8dbcd3;
}

.content {
  width: 1200px;
  height: 10px;
  margin: 150px;
  color: #fff;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 35px;
}

.content h1 {
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #8dbcd3;
  border: none;
  margin-bottom: 10px;
  margin-left: 500px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
}

.content .cn a {
  text-decoration: none;
  color: #3e3434;
  transition: .3s ease;
}

.cn:hover {
  background-color: #8D9B6A;
}

.content span {
  color: #dc9feb;
  font-size: 65px;
}